node_modules
vendor
.git
.github
.env
.env.*
!.env.example
*.log
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
public/build
public/hot
docker
Dockerfile
docker-compose*.yml
README.md
